numpy==1.24.3
pyspark==3.4.1
scikit-learn==1.2.2
k-means-constrained==0.7.2
ortools==9.6.2534
nltk==3.8.1
matplotlib==3.7.1
pandas==2.0.3
shap==0.42.1
jupyter==1.0.0
seaborn==0.12.2
ipython==8.12.2
ipykernel==6.23.1
